@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-zinc-50 selection:bg-orange-100 selection:text-orange-900;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-zinc-200 rounded-full hover:bg-zinc-300 transition-colors;
}

.prose p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
